
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    margin: 0 auto;
}

.box {
    display: flex;
   


}
h1 {
    color: orange;
    text-align: center;
    letter-spacing: 6px;
   
}

.button {

}

ul {
    padding: 20px;
}
span {
    color:rgb(84, 133, 11);
}

p {
    text-align: justify;
    
}

h2 {
    color: rgb(88, 167, 10);
    border-bottom: 1px solid grey ; 
   
}

h3 {
    color: orange;
}

.container {
    border: 2px solid rgb(173, 166, 166);
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}