
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    margin: 0 auto;
}

.photo {
    height: 170px;
}

img {
   margin-left: 0px;
   margin-right: 0px;
}

h1 {
    color: orange;
    text-align: center;
    letter-spacing: 6px;
    margin-top: 5px;
    margin-bottom: px;
   
}

.box {
    display: flex;
    
    
}

.index {
    margin-top: 10px;
    margin-left: 50px;
   
}


.inicio {
    position: relative;
    padding-bottom: 15px;
    width: 100px;
    height: 14px;
    right: 30px;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    
    background-image: url(/parquenatural/img/unknown\ \(3\).png)
    

}

.especies {

    position: relative;
    width: 100px;
    height: 25px;
    right: 30px;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    margin-top: 10px;
    background-image: url(/parquenatural/img/unknown\ \(2\).png)

}

.reservas{
    position: relative;
    width: 100px;
    height: 25px;
    right: 30px;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    margin-top: 10px;
    background-image: url(/parquenatural/img/unknown\ \(2\).png)
}

.galeria{
    position: relative;
    width: 100px;
    height: 25px;
    right: 30px;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    margin-top: 10px;
    background-image: url(/parquenatural/img/unknown\ \(2\).png)
}

span {
    color:rgb(84, 133, 11);
}

p {
    text-align: justify;
    
}

h2 {
    color: rgb(88, 167, 10);
    border-bottom: 1px solid grey ; 
   
}

h3 {
    color: orange;
}

.container {
    border: 2px solid rgb(173, 166, 166);
    padding-left: 40px;
    padding-right: 40px;
    margin-right:  50px;
    box-shadow:0 0px 4px #777, 0 0 50px #CCC inset;
}